* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    /* text-align: center; */
    /* font-family: 'Bitter', serif; */
    background-color: whitesmoke;
  }
header {
    width:90%;
    margin: 25px auto;
    color: midnightblue;
    padding: 20px;
   

}
footer{
    margin: 5px 0;
    padding-bottom: 50px;
}
h3,h4 {
    text-transform: uppercase;
    letter-spacing: 2px;
}
.container {
    margin: 30px;
    border-top: midnightblue solid 5px;
    border-bottom: midnightblue solid 5px;
    width: 90%;;
}
    
.nav {
   
    display: flex;
    margin: 0 auto;
    /* padding: 0 100px; */
    justify-content: center;
    padding-top: 30px;
    list-style-type: none;
    padding: 5px 15px 5px 15px;
    font-weight: 800;
    font-size: 1.2em;
}

ul li a  {
    text-decoration: none; 
    color: midnightblue; 
    padding: 5px;  
}
.nav ul li { 
    align-items: center;
    
    font-style: italic;
}


 h1 {
    text-align: center;
    margin: 0 auto;
    font-size: 2.5em; 
}

.link {
       border-right: midnightblue solid 1px;
} 

.intro {
    display: flex;
    padding: 20px 0 ;
    margin: 9px ;
    line-height: 2;
    border-top: midnightblue solid 1px;
    border-bottom: midnightblue solid 1px;
   
   
   
}
.main{
   width: 50%;
   padding-left: 10px;
   
    

}

.photo-fram {
    width: 50%;
    border:midnightblue solid 1px;

   
}
.photo-fram img{
    width:100%;
    padding-top:10px;
    align-items: center;
}
footer li {
    text-transform: capitalize;
    text-decoration:underline ;
    font-style: normal;
    padding: 0 5px 0 5px;


}
.line-left
{
    border-right:  midnightblue solid 1px;;
}




.info
{
    text-align: left;
    margin: 0 15px;
    padding-bottom: 20px;
    border-top:  midnightblue solid 1px;;;
}
.list-work  li {
    padding-bottom: 50px;
}
.bold{
    font-weight: bolder;
}

.list-work img {
    border: black solid 1px;
}
.list-eduction
{
    list-style-type: none;
}
