body{
background-color:gray;
color:pink;
font-family: Arial, Helvetica, sans-serif;
font-size: larger;
text-align: left;
}
#only{
text-transform: uppercase;
border-bottom:1px solid peachpuff;
text-align: center;
}
.bar{
    text-align: center;

}
a:active {
    background-color:pink;
    text-decoration: underline;
  }
a{
    color: plum;
}
#ENJOY{
     text-align: left;
     position: relative;
     padding-left: 17%;
     padding-top: 5%;
 }
#txt{
    text-align: left;
    position: relative;
    padding-left: 13%;
    padding-bottom: 5%;
    border-bottom:1px solid peachpuff;
}
#txt1{
    text-align: left;
    position: relative;
    padding-left: 13%;
    padding-bottom: 5%;
}
#same{
    text-align: left;
    position: relative;
    padding-left: 17%;}
.txt3{

    text-align: left;
    position: relative;
    padding-left: 13%;

}
.relative {
    position:relative;
    float : right ;
    width: 400px;
    height: 600px;
    border: 1px solid black;
    
    
}

.footer1{
    text-align: center;
    position: relative;
    padding-bottom: 80%;
    padding-left: 5%;
}