body {
    padding: 10px;
    margin: 10px;
}

header {
    margin-top: 20px;
    border-top: 6px solid black;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid black;
}

a {
    color: black;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

a:active {
    font-style: italic;
    color: gray;
}

nav a {
    border-right: 1px solid black;
    padding-right: 5px;
}

nav a:last-child {
    border: none;
}

#about {
    border-bottom: 1px solid black;
    padding: 30px;
    margin: 15px 20px;
    overflow: auto;
}

footer{
    padding: 10px;
    margin: 10px;
    border-bottom: 6px solid black;
    text-align: center;
}


#about img {
    float: right;
    width: 25%;
    border: 1px solid black;
}

span {
    font-weight: bold;
    font-style: italic;
}


ul li p{
    margin-top: 50px;
}
ul li p:first-child{
    margin-top: 30px;
}


li img {
    width: 100%;
}


#portfolio h4 {
    margin-top: 50px;
}


#portfolio {
    padding: 30px;
}